NOTES.md
example.log
.DS_Store
docker_compose.yaml
RUN_ME.md
correlation.md
docker-compose.yaml

agent/myrun.sh
agent/README.md

game/example.log

node_modules
node_player/docker_build_push.sh
node_player/docker_run.sh
node_player/package-lock.json
node_player/README.md


python_player/__pycache__/
python_player/docker_build_push.sh
python_player/docker_run.sh

go_player/NOTES.md
go_player/go_player
go_player/docker_run.sh
go_player/docker_build_push.sh

env/agent.env
env/go_player.env
